.hobbies{
    color: dark;
   
}
.card-body{
    background: var(--bg-color);
    color: var(--text-color);
}

@media (max-width: 780px){
   .card-body {
    display:none !important;
    padding:2px;

   }
}

